.theme_color_project-brand {
  --color-background-default: #0077ff;
  --color-background-accent: #ffffff;
  --color-background-border: #ffffff;

  --color-text-primary: #ffffff;
  --color-text-secondary: rgba(255, 255, 255, 0.6);
  --color-text-additional: rgba(255, 255, 255, 0.3);
  --color-text-linked: #ffffff;
}
