.text_size_l {
  --word-width-s: 28px;
  --word-width-m: 68px;
  --word-width-l: 138px;
  --word-height: var(--size-text-l);
  --word-margin: calc((var(--line-height-text-l) - var(--size-text-l)) / 2);
}