.text_size_xxl {
  --word-width-s: 36px;
  --word-width-m: 88px;
  --word-width-l: 184px;
  --word-height: var(--size-text-xxl);
  --word-margin: calc((var(--line-height-text-xxl) - var(--size-text-xxl)) / 2);
}