.text_size_l {
  /* так как текст это просто линии, нужно переделать */
  font-size: var(--size-text-l);
  line-height: var(--line-height-text-l);
  --word-width-s: 28px;
  --word-width-m: 68px;
  --word-width-l: 138px;
  --word-height: 11px; 
}