.text_size_s {
  --word-width-s: 20px;
  --word-width-m: 48px;
  --word-width-l: 100px;
  --word-height: var(--size-text-s);
  --word-margin: calc((var(--line-height-text-s) - var(--size-text-s)) / 2);
}